@import "vars.scss";
@import "mixins.scss";

:root {
  --white: #FFFFFF;
  --dark: #0F0F0E;
  --light: #FFFAF8;
  --primary: #C23001;
  --dark-grey: #4C4C4C;
  --light-grey: #EDEAE8;
  --width-base: 1920;
  --width-current: 100vw;
  --width-multiplier: calc(var(--width-current) / var(--width-base));
}

@media(max-width: 1024px) {
    :root {
      --width-base: 768;
      --width-current: 100vmin;
    }
}

@media(max-width: 767px) {
    :root {
      --width-base: 375;
      --width-current: 100vmin;
    }
}

html {
  height: 100%;
  scroll-behavior: smooth;
  scroll-padding-top: calc(80 * var(--width-multiplier));
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: var(--dark, $dark);
  background-color: var(--light, $light);
  font: 400 calc(18 * var(--width-multiplier))/1.4 Montserrat;
  letter-spacing: -0.01em;
  text-rendering: optimizeSpeed;
  @media (max-width: 767px) {
    font-size: calc(16 * var(--width-multiplier));
  }
}

::-webkit-scrollbar {
  width: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1 {
  font: 600 calc(52 * var(--width-multiplier))/1.2 Montserrat;
  letter-spacing: -0.01em;
  @media (max-width: 1024px) {
    font-size: calc(32 * var(--width-multiplier));
  }
  @media (max-width: 767px) {
    font-size: calc(24 * var(--width-multiplier));
  }
}

h2 {
  font: 600 calc(40 * var(--width-multiplier))/1.2 Montserrat;
  letter-spacing: -0.01em;
  @media (max-width: 1024px) {
    font-size: calc(30 * var(--width-multiplier));
  }
  @media (max-width: 767px) {
    font-size: calc(20 * var(--width-multiplier));
  }
}

h3 {
  font: 600 calc(30 * var(--width-multiplier))/1.1 Montserrat;
  letter-spacing: -0.01em;
  @media (max-width: 767px) {
    font-size: calc(20 * var(--width-multiplier));
  }
}

h4 {
  font: 600 calc(22 * var(--width-multiplier))/1.1 Montserrat;
  letter-spacing: -0.01em;
  @media (max-width: 767px) {
    font-size: calc(18 * var(--width-multiplier));
  }
}

h5, h6 {
  font-family: inherit;
  line-height: 1.2em;
  letter-spacing: -0.01em;
}

ul,
ol {
  padding: 0;
  list-style-position: inside;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

input:focus-visible {
  outline: none;
}

input:not([type="checkbox"]):not([type="radio"]), select, textarea {
  width: 100%;
  padding: calc(20 * var(--width-multiplier)) calc(30 * var(--width-multiplier));
  border: 1px solid rgba(20, 8, 4, 0.4);
  border-radius: calc(12 * var(--width-multiplier));
  color: rgba(20, 8, 4, 1);
  background-color: var(--white, $white);
  font: inherit;
  transition: color 0.3s ease-out, border-color 0.3s ease-out;
  &::placeholder {
    color: rgba(20, 8, 4, 0.4);
  }
  &:focus, &:focus-visible {
    outline: none;
    border-color: rgba(20, 8, 4, 1);
  }
  @media (max-width: 767px) {
    padding: calc(12 * var(--width-multiplier)) calc(16 * var(--width-multiplier));
  }
}

input:not([type="checkbox"]):not([type="radio"]).light, select.light, textarea.light {
  border: 1px solid var(--light, $light);
  color: var(--light, $light);
  background-color: transparent;
  &::placeholder {
    color: var(--light, $light);
  }
  &:focus, &:focus-visible {
    border-color: var(--light, $light);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px var(--white, $white) inset !important;
  box-shadow: 0 0 0 1000px var(--white, $white) inset !important;
  -webkit-text-fill-color: var(--dark, $dark) !important;
  transition: background-color 9999s ease-in-out 0s;
}

textarea {
  resize: none;
  height: calc(90 * var(--width-multiplier));
}

.sort {
 select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: max-content;
    padding: calc(9 * var(--width-multiplier)) calc(12 * var(--width-multiplier));
    padding-right: calc(40 * var(--width-multiplier));
    border: 0;
    border-radius: calc(8 * var(--width-multiplier));
    color: var(--dark, $dark);
    background: url(../img/down.svg) calc(100% - calc(12 * var(--width-multiplier))) 50% / calc(14 * var(--width-multiplier)) no-repeat;
    background-color: var(--light-grey, $light-grey);
    &:hover {
      cursor: pointer;
    }
  }
}

.search {
  input:not([type="checkbox"]):not([type="radio"]) {
    padding: calc(20 * var(--width-multiplier)) calc(30 * var(--width-multiplier));
    padding-right: calc(40 * var(--width-multiplier));
    border-radius: calc(12 * var(--width-multiplier));
    background: url(../img/search.svg) no-repeat top 50% right calc(20 * var(--width-multiplier));
    background-size: calc(20 * var(--width-multiplier)) calc(20 * var(--width-multiplier));
    background-color: var(--white, $white);
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
      height: calc(16 * var(--width-multiplier));
      width: calc(16 * var(--width-multiplier));
      background: url("../img/close.svg") center/contain no-repeat;
      cursor: pointer;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
  }
}

// ====== Global ======

.container {
  width: 100%;
  padding: 0 calc(100 * var(--width-multiplier));
  @media(max-width: 1024px) {
    padding: 0 calc(16 * var(--width-multiplier));
  }
}

.breadcrumbs {
  padding-top: calc(80 * var(--width-multiplier));
  @media(max-width: 1024px) {
    padding-top: calc(40 * var(--width-multiplier));
  }
  @media(max-width: 767px) {
    padding-top: calc(20 * var(--width-multiplier));
  }
  &__container {
    display: flex;
    align-items: center;
    gap: calc(10 * var(--width-multiplier));
    color: var(--dark-grey, $dark-grey);
    line-height: 1.2em;
    overflow-y: hidden;
    overflow-x: auto;
    white-space: nowrap;
    a {
      display: flex;
      align-items: center;
      gap: calc(10 * var(--width-multiplier));
      transition: color 0.3s ease-out;
      &::after {
        content: '';
        width: calc(20 * var(--width-multiplier));
        height: calc(15 * var(--width-multiplier));
        background: url(../img/arrow.svg) center / contain no-repeat;
      }
      &:hover {
        color: var(--primary, $primary);
      }
    }
  }
}

.section {
  &-pad {
    padding: calc(160 * var(--width-multiplier)) 0;
    @media(max-width: 1024px) {
      padding: calc(80 * var(--width-multiplier)) 0;
    }
    @media(max-width: 767px) {
      padding: calc(60 * var(--width-multiplier)) 0;
    }
    &-top {
      padding-top: calc(160 * var(--width-multiplier));
      @media(max-width: 1024px) {
        padding-top: calc(80 * var(--width-multiplier));
      }
      @media(max-width: 767px) {
        padding-top: calc(60 * var(--width-multiplier));
      }
    }
    &-bottom {
      padding-bottom: calc(160 * var(--width-multiplier));
      @media(max-width: 1024px) {
        padding-bottom: calc(80 * var(--width-multiplier));
      }
      @media(max-width: 767px) {
        padding-bottom: calc(60 * var(--width-multiplier));
      }
    }
  }
  &-hidden {
    overflow: hidden;
  }
}

.heading {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: calc(20 * var(--width-multiplier));
  @media(max-width: 1024px) {
    gap: calc(16 * var(--width-multiplier));
  }
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(12 * var(--width-multiplier));
  width: max-content;
  padding: calc(20 * var(--width-multiplier)) calc(30 * var(--width-multiplier));
  border: 1px solid transparent;
  border-radius: calc(12 * var(--width-multiplier));
  background-color: transparent;
  font: 600 calc(18 * var(--width-multiplier))/1 Montserrat;
  overflow: hidden;
  transition: box-shadow 0.3s ease-out, border-color 0.3s ease-out, color 0.3s ease-out, background-color 0.3s ease-out;
  svg {
    display: block;
    width: calc(20 * var(--width-multiplier));
    height: calc(20 * var(--width-multiplier));
    pointer-events: none;
  }
  &:disabled {
    border-color: #140804;
    color: var(--white, $white);
    background-color: #140804;
    opacity: 0.4;
  }
  &:hover:not(:disabled) {
    cursor: pointer;
  }
  @media(max-width: 767px) {
    font-size: calc(16 * var(--width-multiplier));
    padding: calc(14 * var(--width-multiplier)) calc(18 * var(--width-multiplier));
  }
  &-primary {
    border-color: var(--primary, $primary);
    color: var(--light, $light);
    background-color: var(--primary, $primary);
    box-shadow: 0px -9px 10px 5px rgba(51, 12, 0, 0) inset;
    &:hover {
      box-shadow: 0px -9px 10px 5px rgba(51, 12, 0, 0.25) inset;
    }
    &:active {
      background-color: rgba(159, 39, 1, 1);
    }
  }
  &-grey {
    border-color: var(--dark-grey, $dark-grey);
    color: var(--light, $light);
    background-color: var(--dark-grey, $dark-grey);
    box-shadow: 0px -9px 13px 5px rgba(20, 8, 4, 0) inset;
    &:hover {
      box-shadow: 0px -9px 13px 5px rgba(20, 8, 4, 0.4) inset;
    }
    &:active {
      background-color: var(--dark, $dark);
    }
  }
  &-stroke {
    border-color: var(--dark-grey, $dark-grey);
    color: var(--dark-grey, $dark-grey);
    &:hover {
      border-color: var(--dark, $dark);
      color: var(--dark, $dark);
    }
    &:active {
      background-color: rgba(20, 8, 4, 0.2);
      border-color: var(--dark, $dark);
      color: var(--dark, $dark);
    }
  }
  &-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: calc(12 * var(--width-multiplier)) calc(14 * var(--width-multiplier));
    svg {
      display: block;
      min-width: calc(20 * var(--width-multiplier));
      width: calc(20 * var(--width-multiplier));
      height: calc(20 * var(--width-multiplier));
      pointer-events: none;
    }
    @media(max-width: 767px) {
      padding: calc(10 * var(--width-multiplier)) calc(12 * var(--width-multiplier));
    }
  }
}

.title {
  &-3 {
    font: 600 calc(22 * var(--width-multiplier))/1.1 Montserrat;
    letter-spacing: -0.01em;
    @media (max-width: 767px) {
      font-size: calc(18 * var(--width-multiplier));
    }
  }
}

.text {
  &-lower {
    text-transform: lowercase;
  }
  &-up {
    text-transform: uppercase;
  }
}

.color {
  &-primary {
    color: var(--primary, $primary);
  }
  &-grey {
    color: var(--dark-grey, $dark-grey);
  }
}

.accents {
  &-green {
    position: relative;
    display: flex;
    align-items: center;
    gap: calc(6 * var(--width-multiplier));
    color: #34C759;
    &::before {
      content: '';
      width: calc(18 * var(--width-multiplier));
      height: calc(12 * var(--width-multiplier));
      background: url(../img/check.svg) center / contain no-repeat;
    }
  }
  &-orange {
    position: relative;
    display: flex;
    align-items: center;
    gap: calc(6 * var(--width-multiplier));
    color: #FF8D28;
    &::before {
      content: '';
      width: calc(18 * var(--width-multiplier));
      height: calc(12 * var(--width-multiplier));
      background: url(../img/line.svg) center / contain no-repeat;
    }
  }
}

.indent {
  &-bottom {
    margin-bottom: calc(40 * var(--width-multiplier));
    @media(max-width: 1024px) {
      margin-bottom: calc(30 * var(--width-multiplier));
    }
    @media(max-width: 767px) {
      margin-bottom: calc(20 * var(--width-multiplier));
    }
  }
}

// ====== Swiper ======

.swiper {
  width: 100%;
  height: 100%;
  &-slide {
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }    
  }
}

.arrows {
  position: relative;
  display: flex;
  align-items: center;
  gap: calc(10 * var(--width-multiplier));
}

.swiper-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(48 * var(--width-multiplier));
  height: calc(48 * var(--width-multiplier));
  border: 1px solid var(--primary, $primary);
  border-radius: calc(8 * var(--width-multiplier));
  box-shadow: 0px -9px 10px 5px rgba(51, 12, 0, 0) inset;
  transition: border-color 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out;
  svg {
  width: calc(21 * var(--width-multiplier));
  height: calc(15 * var(--width-multiplier));
  }
  path {
    transition: fill 0.3s ease-out;
  }
  &:hover {
    cursor: pointer;
    border-color: var(--primary, $primary);
    background-color: var(--primary, $primary);
    box-shadow: 0px -9px 10px 5px rgba(51, 12, 0, 0.25) inset;
    path {
      fill: var(--light, $light);
    }
  }
  @media(max-width: 767px) {
    width: calc(40 * var(--width-multiplier));
    height: calc(40 * var(--width-multiplier));
  }
}

.swiper-button-next, .swiper-button-prev {
  &::after {
    content: none;
  }
}

.arrow-next {
  background-color: var(--primary, $primary);
}

.swiper-button-disabled {
  opacity: 0.4;
  pointer-events: none;
}

.swiper-button-lock {
  display: none;
}

// ====== Accordion ======

.accordion {
  display: flex;
  flex-direction: column;
  gap: calc(20 * var(--width-multiplier));
  &__item {
    padding: calc(30 * var(--width-multiplier));
    border-radius: calc(12 * var(--width-multiplier));
    background-color: var(--white, $white);
    overflow: hidden;
    cursor: pointer;
    &.active {
      .accordion__icon {
        span {
          &:last-child {
            transform: translate(-50%, -50%) rotate(0);
          }
        }
      }
    }
    @media (max-width: 1024px) {
      padding: calc(20 * var(--width-multiplier));
    }
    @media (max-width: 767px) {
      padding: calc(16 * var(--width-multiplier));
    }
  }
  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: calc(16 * var(--width-multiplier));
  }
  &__caption {
    font-size: calc(22 * var(--width-multiplier));
    font-weight: 600;
    line-height: 1.2em;
    @media (max-width: 1024px) {
      font-size: calc(18 * var(--width-multiplier));
    }
    @media (max-width: 767px) {
      font-size: calc(16 * var(--width-multiplier));
    }
  }
  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(22 * var(--width-multiplier));
    height: calc(22 * var(--width-multiplier));
    @media (max-width: 767px) {
      width: calc(20 * var(--width-multiplier));
      height: calc(20 * var(--width-multiplier));
    }
    span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: calc(20 * var(--width-multiplier));
      height: calc(2 * var(--width-multiplier));
      background-color: var(--dark-grey, $dark-grey);
      transition: transform 0.2s ease-out;
      &:last-child {
        transform: translate(-50%, -50%) rotate(90deg);
      }
      @media (max-width: 767px) {
        width: calc(16 * var(--width-multiplier));
      }
    }
  }
  &__body {
    display: flex;
    flex-direction: column;
    gap: calc(16 * var(--width-multiplier));
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding-bottom 0.3s ease-out;
  }
  &__content {
    max-width: calc(1110 * var(--width-multiplier));
    margin-top: calc(30 * var(--width-multiplier));
    line-height: 1.2em;
    @media (max-width: 1024px) {
      margin-top: calc(20 * var(--width-multiplier));
    }
    @media (max-width: 767px) {
      font-size: calc(14 * var(--width-multiplier));
    }
  }
}

// ====== Pagination ======

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(12 * var(--width-multiplier));
  margin-top: calc(40 * var(--width-multiplier));
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(54 * var(--width-multiplier));
    height: calc(54 * var(--width-multiplier));
    border: 1px solid var(--dark-grey, $dark-grey);
    border-radius: calc(12 * var(--width-multiplier));
    &.active {
      color: var(--white, $white);
      background-color: var(--dark-grey, $dark-grey);
    }
    &.disabled {
      opacity: 0.4;
      pointer-events: none;
    }
  }
}